@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply relative text-white font-bold cursor-pointer text-[17px] w-fit lg:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-red-600 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center uppercase hidden;
  }

  .nav-link-mobile {
    @apply relative mb-[2rem] text-white font-bold cursor-pointer text-[18px] w-fit lg:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-yellow-300 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center uppercase;
  }
  .heading {
    @apply text-center text-[#333] text-[22px] sm:text-[30px] md:text-[38px] font-bold capitalize;
  }
  .destination__h1 {
    @apply text-black mt-[1rem] text-[20px] text-center font-semibold;
  }
  .destination__p {
    @apply text-black text-[17px] text-center opacity-70 font-semibold;
  }
  .footer__heading {
    @apply mb-[1.5rem] text-black text-[20px] font-bold;
  }

  .footer__link {
    @apply block mb-[1rem] text-gray-600 text-[16px] hover:text-red-500 transition-all duration-100 w-fit;
  }
  .footer__icon {
    @apply w-[2.3rem] h-[2.3rem] flex cursor-pointer items-center justify-center rounded-full hover:opacity-60 transition-all duration-200;
  }
  .bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Menggunakan 100vw agar mengikuti lebar viewport */
    height: 100vh; /* Menggunakan 100vh agar mengikuti tinggi viewport */
    object-fit: cover;
    z-index: -1;
  }
  .bg-video-overlay {
    @apply absolute top-0 left-0  w-[100%] h-[100%] bg-blue-600  opacity-95;
  }
  .red-gradient {
    background-color: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  }
  .shadow-bottom {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .bg-login {
    background: url('/login-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-register {
    background: url('/register.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-register-admin {
    background: url('/register-admin.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* Global.css */

  .input-shadow {
    box-shadow: 0.3px 10px 15px rgba(0, 0, 0, 0.6);
  }
  .myElement {
    z-index: 1000;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
